/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap'); */

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #2f343b;
}

.wrapper {
    width: 400px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, .1);
}
input[type="text"] {
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background: none;
    width: 274px;
    color: black;
}

.text-center{
    text-align: center;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

/* input[type="text"]:focus { */
    /* outline: none; */
/* } */

h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.controls {
    width: 294px;
    margin: 15px auto;
}

#remove_fields {
    float: right;
}

.controls a i.fa-minus {
    margin-right: 5px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #232c3d;
}
button {
    margin: 0 auto;
    display: block;
    border: 0;
    background: #3f51b5;
    padding: 10px;
    border-radius: 2px;
    color: white;
}