<!DOCTYPE html>
<html>

<head>
    <title>Add-Skills</title>
    <!-- <title>Add Skills & Certifications</title> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/login/style1.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <!-- <h1>Add Skills and Certifications</h1> -->
    <div class="wrapper">
        <h3 class="card-title">Add Skills and Certifications</h3>
        <div id="survey_options">
            <input type="text" name="survey_options[]" class="survey_options" size="50"
                placeholder="Skill or Certification">
        </div>
        <div class="controls">
            <a href="#" id="add_more_fields"><i class="fa fa_plus"></i>Add Field</a>
            <a href="#" id="remove_fields"><i class="fa fa_plus"></i>Remove Field</a>
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-success" href="#" role="button" id="save_and_return">Save</a>
        </div>
    </div>
    <script src="http://localhost:8080/scripts/userSkillsScript.js"></script>
</body>

</html>